body{
    font-family: 'Times New Roman', Times, serif;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin-right: 120px;
    font-size: x-large;
    cursor: pointer;
    border-style: solid;
    width: 1322px;
    background-color:rgb(190,160,154) ;
    
    
}
.image{
    text-align: center;
    background-image: url(images/wigbackgrd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding-top: 100px;
    color: rgb(190,160,154);
    border-radius: 20px;
    
}